$dark-green:            #4EA84E
$light-green:           #96C400
$text-normal:           #5C5C5C
$text-active:           #E2DE37
$text-municipality:     #9B9B9B
$shadow-button:         #71a338
$shadow-button-active:  #81A801
$placeholder-color:     #9B9B9B
$image-border:          #E2DE37
$success-alert:         #A2C834
$fail-alert:            #E31D44
$info-alert:            #767676
$site-background:       #333333
$figcaption-background: RGBA( 255, 255, 255, 0.8 )
$footer-text:           #686868
$white-color:           #FFFFFF
$submenu-color:         #2B2B2B
$submenu-separator:     #252525